body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: azure;

}


h1, h2, h3 {
    color: blue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: auto;
  }

.paragrafo {
     color: black;
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
     
}  

a:link, a:visited{
     text-decoration: none;
     color: #0F0;
     background-color: #F00;
}


a:hover, a:active {
    text-decoration: none;
    color: #F00;
    background-color: #0F0;
}


img{
    
    border-radius: 15px;
    padding: 5px;

}

#corpo{
    text-align: left;
    float: center;
    margin-right: 44em;

}

#descricao{
    width: 75em;
}

.botao1{
position: center;
padding: 10px 32px;
box-shadow: 3px 3px 3px;

}

.botao{
    position: fixed;
    left: 15px;
    padding: 0px;
    box-shadow: 3px 3px 3px;
    
    }